<h1>Edit Recipe</h1>

<form action="/recipes/<%= @recipe.slug %>" method="post">
    <input type="hidden" name="_method" value="patch">
    Name: <input type="text" name="recipe_name" value="<%= @recipe.name %>"><br>
    Ingredients: <textarea row="20" cols="40" name="ingredients"><%= @recipe.ingredients %></textarea><br>
    Directions: <textarea name="directions"><%= @recipe.directions %></textarea><br>
    <input type="submit" value="submit">
</form>