<h2>New Recipe</h2>

<form action="/recipes" method="post">
    Name: <input type="text" name="recipe_name" size="50" required><br>
    Ingredients: <br>
    <textarea rows="20" cols="80" align="left" name="ingredients" required></textarea><br>
    Directions: <br>
    <textarea rows="20" cols="80" align="right" name="directions" required></textarea><br>
    <input type="submit" value="Submit">
</form>

<a href="/recipes" class="button"><button>Cancel</button></a>
