<h1>New Recipe</h1>

<form action="/recipes" method="post">
    Name: <input type="text" name="recipe_name"><br>
    Ingredients: <textarea row="20" cols="40" name="ingredients"></textarea>
    Directions: <textarea name="directions"></textarea>
    <input type="submit" value="submit">
</form>