<h1>Login</h1>

<form action="/login" method="post">
    Username: <input type="username" name="username">
    Password: <input type="password" name="password">
    <input type="submit" value="login">
</form>