<h2>Login</h2>

<form action="/login" method="post">
    Username: <br><input type="username" name="username"><br>
    Password: <br><input id="password" type="password" name="password"><br>
    <br>
    <input type="submit" value="Login"><br>
</form><br>

Need an account? <a href="/signup">Signup</a>