<h2>New Account</h2>

<form action="/signup" method="post">
    Username: <input type="text" name="username">
    Password: <input id="password" type="password" name="password">
    <input type="submit" value="Signup">
</form><br>

Have an account? <a href="/login">Login</a>